<div>
    <h2>Liste Forge Quellen</h2>
    <hr>   

    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Bezeichnungen</label>
        <input type="text" class="form-control" placeholder="Bezeichnung (Am besten wie im Bim360)" id="inputDefault">
      </div>

      <div class="form-group">
        <label class="col-form-label" for="inputDefault">Urn</label>
        <input type="text" class="form-control" placeholder="Urn aus BIm60 Docs" id="inputDefault">
      </div>

    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Einhängepunkt von (ProductionId)</label>
        <input type="text" class="form-control" placeholder="AKS Butler -> rechte Maustaste -> Info" id="inputDefault">
      </div>

    <button type="button" class="btn btn-primary">Hinzufügen</button>
    


</div>