<h2>Liste Forge Quellen</h2> 

<p-table [columns]="cols" [value]="urnListModels"  #urnTable selectionMode="single" [(selection)]="selectedUrnListModel" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="cancelUnselect($event)" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        
        <tr [pSelectableRow]="rowData">
            
            <td *ngFor="let col of columns" [pRowToggler]="rowData">
                {{rowData[col.field] }}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton (click)="showDialogToAdd()" label="Hinzufügen" style="float: left"></button>            
            <button type="button" pButton (click)="showDialogToDelete()" label="Löschen" style="float: right"></button>                   
        </div>
    </ng-template>
</p-table>
<br>

<p-dialog header="Forge Quelle" [(visible)]="displayDialogAdd" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'420px'}" >
    <div class="ui-g ui-fluid" *ngIf="urnListModel">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Bezeichnung</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="urnListModel.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="urn">Urn</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="urn" [(ngModel)]="urnListModel.urn" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="mountedTo">EinhängePunkt(ProduktionId)</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="mountedTo" [(ngModel)]="urnListModel.mountedTo" />
            </div>
        </div>        
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton (click)="save()" label="speichern"></button>            
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Forge Quelle" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'420px'}" >
    <div class="ui-g ui-fluid" *ngIf="urnListModel">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Bezeichnung</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="name" [(ngModel)]="urnListModel.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="urn">Urn</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="urn" [(ngModel)]="urnListModel.urn" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="mountedTo">EinhängePunkt(ProduktionId)</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="mountedTo" [(ngModel)]="urnListModel.mountedTo" />
            </div>
        </div>        
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton (click)="delete()" label="Löschen"></button>
            <button type="button" pButton (click)="cancel()" label="Abbrechen"></button>             
        </div>
    </p-footer>
</p-dialog>




